page-point {
    .ionTitle {
        text-align: center;
    }
    .ionContent {
        background-color: #ffffff;
    }
    .ionLabel{
        font-size: 22px !important;
        color: #408152;
    }

    .display{
        font-size: 18px !important;
    }

    .ionItem{
        margin-top: 30px !important;
        border: 1px #ccc;
        padding: 10px 0 0 10px !important;
        border-radius: 20px;
        border-style: dotted;
    }
}
