<ion-header>
  <ion-navbar>
    <ion-title class="ionTitle">Eficiência Operacional</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ionContent" padding>
  <form padding [formGroup]="formGroup">
    <ion-list>
      <ion-item style="border: 1px #ccc; border-radius: 20px; border-style: dotted;">
        <ion-label stacked class="ionLabel">Data</ion-label>
        <ion-datetime class="display" displayFormat="DD/MM/YYYY" [(ngModel)]="dt_ini" formControlName="dt_ini"></ion-datetime>
      </ion-item>
      <ion-item class="ionItem">
        <ion-label stacked class="ionLabel">Hora</ion-label>
        <ion-datetime class="display" displayFormat="HH:mm" [(ngModel)]="hr_ini" formControlName="hr_ini"></ion-datetime>
      </ion-item>

      <!--Selec do centro de custo-->

      <!--Select do recurso-->
      <ion-item class="ionItem">
        <ion-label stacked class="ionLabel">Recurso</ion-label>
      </ion-item>
      <ion-item>
        <select-searchable title="Recurso" searchPlaceholder="Pesquisar" [(ngModel)]="resource" formControlName="resource" [items]="dbResources" (onChange)="ResourceChange($event)"
          itemValueField="codigo" itemTextField="pesquisa" [itemTemplate]="ResourceItemTemplate" [canSearch]="true" [noItemsFoundText]="'Recurso não encontrado'"></select-searchable>
      </ion-item>

      <ion-item class="ionItem">
        <ion-label stacked class="ionLabel">Produto</ion-label>
      </ion-item>
      <ion-item>
        <select-searchable title="Produto" searchPlaceholder="Pesquisar" [(ngModel)]="product" formControlName="product" [items]="dbProducts"
          itemValueField="codigo" itemTextField="pesquisa" [itemTemplate]="ProductItemTemplate" [canSearch]="true" [noItemsFoundText]="'Produto não encontrado'"></select-searchable>
      </ion-item>

      <ion-item class="ionItem">
        <ion-label stacked class="ionLabel">Turno</ion-label>
        <ion-select [(ngModel)]="turno" formControlName="turno" class="display">
          <ion-option value="1">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="ionItem">
        <ion-label stacked class="ionLabel">Turma</ion-label>
        <ion-select [(ngModel)]="turma" formControlName="turma" class="display">
          <ion-option value="A">A</ion-option>
          <ion-option value="B">B</ion-option>
          <ion-option value="C">C</ion-option>
          <ion-option value="D">D</ion-option>
          <ion-option value="E">E</ion-option>
          <ion-option value="F">F</ion-option>
          <ion-option value="G">G</ion-option>
          <ion-option value="H">H</ion-option>
          
        </ion-select>
      </ion-item>

      <ion-item class="ionItem">
        <ion-label stacked class="ionLabel">Quantidade</ion-label>
        <ion-input #inputToFocus class="display" type="number" [(ngModel)]="quantidade" formControlName="quantidade"></ion-input>
      </ion-item>

      <ion-item class="ionItem">
        <ion-label stacked class="ionLabel">Parcial ou total</ion-label>
        <ion-select class="display" [(ngModel)]="resultado" formControlName="resultado">
          <ion-option value="parcial">Parcial</ion-option>
          <ion-option value="total">Total</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="ionItem">
        <ion-label stacked class="ionLabel">Operador</ion-label>
        <ion-toggle (ionChange)="ShowEmployee($event)" checked="false"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="isEmployee">
        <select-searchable title="Operador" searchPlaceholder="Pesquisar" [(ngModel)]="employee" formControlName="employee" [items]="dbEmployees"
          itemValueField="matricula" itemTextField="pesquisa" [itemTemplate]="EmployeeItemTemplate" [canSearch]="true" [noItemsFoundText]="'Operador não encontrado'"></select-searchable>
      </ion-item>

      <ion-item class="ionItem">
        <ion-label stacked class="ionLabel">Motivo</ion-label>
        <ion-toggle (ionChange)="ShowReason($event)" checked="false"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="isMotivo">
        <select-searchable title="Motivo" searchPlaceholder="Pesquisar" [(ngModel)]="reason" formControlName="reason" [items]="dbReasons"
          itemValueField="motivo" itemTextField="pesquisa" [itemTemplate]="ReasonItemTemplate" [canSearch]="true" [noItemsFoundText]="'Mótivo não encontrado'"></select-searchable>
      </ion-item>
    </ion-list>
  </form>
  <ion-fab bottom center>
    <button ion-fab (click)="SalvarApontamento()" [disabled]="formGroup.invalid">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </button>
  </ion-fab>
</ion-content>