page-unproductive3 {
    .ionTitle {
        text-align: center;
    }
    
    .dataHora{
        border: 2px solid #ccc;
        border-style: dotted;
        border-radius: 20px;
        ion-label{
            font-size: 18px;
        }
        ion-datetime{
            font-size: 18px;
        }
    }

    .ccusto{
        border: 2px solid #ccc;
        border-style: dotted;
        border-radius: 20px;
        ion-label{
            font-size: 18px;
        }
        ion-input{
            font-size: 18px;
        }
    }

    .motivo{
        margin-top: 15px;
        border: 2px solid #ccc;
        border-style: dotted;
        border-radius: 20px;
        ion-label{
            font-size: 18px;
        }
        ion-input{
            font-size: 18px;
        }
    }

    .recurso{
        margin-top: 15px;
        border: 2px solid #ccc;
        border-style: dotted;
        border-radius: 20px;
        ion-label{
            font-size: 18px;
        }
        ion-input{
            font-size: 18px;
        }
    }
}
