<ion-header>
  <ion-navbar>
    <ion-title class="ionTitle">Improdutivo</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="ionContent">

  <form [formGroup]="formGroup">
    <ion-list>
      <div class="dataHora" padding>
        <h3>Data e Hora</h3>
        <ion-item>
          <ion-label>Data Inicial</ion-label>
          <ion-datetime class="ionInput" disabled displayFormat="DD/MM/YYYY" [(ngModel)]="params.data.dt_ini" formControlName="dt_ini"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Data Final</ion-label>
          <ion-datetime class="ionInput" displayFormat="DD/MM/YYYY" [(ngModel)]="params.data.dt_final" formControlName="dt_final"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Hora Inicial</ion-label>
          <ion-datetime class="ionInput" disabled displayFormat="HH:mm" [(ngModel)]="params.data.hr_ini" formControlName="hr_ini"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Hora Final</ion-label>
          <ion-datetime class="ionInput" displayFormat="HH:mm" [(ngModel)]="params.data.hr_final" formControlName="hr_final"></ion-datetime>
        </ion-item>
      </div>
    </ion-list>
  </form>

  <form>
    <ion-list>
      <div class="ccusto" padding>
        <h3>Centro de custo</h3>
        <ion-item>
          <ion-label>Código</ion-label>
          <ion-input type="text" disabled [(ngModel)]="params.data.ccusto" name="ccusto"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Descrição</ion-label>
          <ion-input type="text" disabled [(ngModel)]="params.data.desccusto" name="desccusto"></ion-input>
        </ion-item>
      </div>

      <div class="motivo" padding>
        <h3>Motivo</h3>
        <ion-item>
          <ion-label>Código</ion-label>
          <ion-input type="text" disabled [(ngModel)]="params.data.motivo" name="motivo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Descrição</ion-label>
          <ion-input type="text" disabled [(ngModel)]="params.data.descmotivo" name="descmotivo"></ion-input>
        </ion-item>
      </div>

      <div class="recurso" padding>
        <h3>Recurso(s)</h3>
        <ion-list *ngFor="let recurso of dbCorpImpro">
          <ion-item>
            <ion-label>Código</ion-label>
            <ion-input type="text" disabled [value]="recurso.codigo" name="codigo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Descrição</ion-label>
            <ion-input type="text" disabled [value]="recurso.descricao" name="descricao"></ion-input>
          </ion-item>
        </ion-list>
        <hr>
      </div>

    </ion-list>
  </form>

  <ion-fab bottom right>
    <button ion-fab (click)="update()" [disabled]="formGroup.invalid">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </button>
  </ion-fab>

</ion-content>