page-setup {
    .ionTitle {
        text-align: center;
    }
    .ionContent {
        background-color: #ffffff;
    }
    
    .ionBtn {
        margin-top: 30px;
        padding: 20px !important;
        box-sizing: border-box;
    }
    .ionIcon {
        text-align: center;
        margin-bottom: 5px;
        ion-icon {
            font-size: 80px;
            //color: #408152;
            color: #2d3050;
        }
    }
    .ionLabel{
        font-size: 22px !important;
        color: #408152;
    }
    .display{
        font-size: 18px !important;
    }

    .ionItem{
        margin-top: 25px !important;
        border: 1px #ccc;
        padding: 10px 0 0 10px !important;
        border-radius: 20px;
        border-style: dotted;
    }
}
