<ion-header>

  <ion-navbar>
    <ion-title class="ionTitle">Configuração</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="ionContent" padding>

  <form class="form" [formGroup]="formGroup" padding>

    <div class="ionIcon">
      <ion-icon name="options"></ion-icon>
    </div>

    <ion-list>
      <ion-item style="border: 1px solid #ccc; padding: 10px 0 0 10px !important; border-radius: 20px; border-style: dotted;">
        <ion-label class="ionLabel" stacked>Ip</ion-label>
        <ion-input class="display" type="text" [(ngModel)]="setup['ip']" formControlName="ip"></ion-input>
      </ion-item>
      <ion-item class="ionItem">
        <ion-label class="ionLabel" stacked>Porta</ion-label>
        <ion-input class="display" type="number" [(ngModel)]="setup['porta']" formControlName="porta"></ion-input>
      </ion-item>
      <ion-item class="ionItem">
        <ion-label class="ionLabel" stacked>Matrícula Adm</ion-label>
        <ion-input class="display" type="number" [(ngModel)]="setup['matricula']" formControlName="matricula"></ion-input>
      </ion-item>
      <ion-item class="ionItem ionItembottom">
        <ion-label class="ionLabel" stacked>Filial</ion-label>
        <ion-input class="display" type="text" [(ngModel)]="setup['filial']" formControlName="filial"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <ion-fab bottom left>
    <button ion-fab (click)="Download()">
      <ion-icon name="cloud-download"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom right [formGroup]="formGroup">
    <button ion-fab (click)="Salvar()" [disabled]="formGroup.invalid">
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-fab>

</ion-content>



<!--
<ion-item>
  <button class="ionBtn" ion-button full round icon-end (click)="Salvar()" [disabled]="formGroup.invalid">
    Salvar
    <ion-icon name="checkmark"></ion-icon>
  </button>
</ion-item>

<ion-fab bottom left>
  <button ion-fab>
    <ion-icon name="cloud-upload"></ion-icon>
  </button>
</ion-fab>

<ion-fab bottom right>
  <button ion-fab>
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
-->