<ion-header>
  <ion-navbar>
    <ion-title class="ionTitle">
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ionContent" padding>

  <div class="logo" padding>
    <img src="assets/imgs/logo-cata.png">
  </div>

  <form class="form" [formGroup]="formGroup" padding>
    <ion-list>
      <ion-item class="ionItem">
        <ion-label class="ionLabel" stacked>Matrícula</ion-label>
        <ion-input class="display" type="number" formControlName="matricula"></ion-input>
      </ion-item>
      <button class="ionBtn" ion-button full round icon-end (click)="Login()" [disabled]="formGroup.invalid">
        Entrar
        <ion-icon name="log-in"></ion-icon>
      </button>
    </ion-list>
  </form>

</ion-content>

<ion-footer *ngIf="!true">
  <ion-toolbar>
    <ion-title class="ionTitle footer">Grupo CATA V.0.1</ion-title>
  </ion-toolbar>
</ion-footer>