page-login {
    .ionTitle {
        text-align: center;
    }
    .logo {
        margin-top: 20px;
        text-align: center;
    }
    .ionContent {
        background-color: #ffffff;
    }
    .form {
        margin-top: 20px;
    }
    .ionBtn {
        margin-top: 30px;
        padding: 30px !important;
        font-size: 22px !important;
    }
    .ionLabel{
        font-size: 22px !important;
        color: #408152;
    }
    .ionItem{
        margin-top: 25px !important;
        border: 1px #ccc;
        padding: 10px 0 0 10px !important;
        border-radius: 20px;
        border-style: dotted;
    }
    .display{
        font-size: 18px !important;
        padding: 5px;
    }
}
