page-showefficiency {
    .ionTitle {
        text-align: center;
    }
    .ionContent {
        background-color: #ffffff;
    }
    .ionLabel{
        font-size: 17px !important;
        color: #408152;
    }
    .ionInput {
        font-size: 16px !important;
    }
    .listHeader{
        color: #000;
        font-size: 22px;
        background-color: #ccc;
    }
}
