<ion-header>
  <ion-navbar>
    <ion-title class="ionTitle">Detalhes do Apontamento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ionContent" padding>

  <form padding>
    <ion-list>
      <ion-item>
        <ion-label class="ionLabel">Data Inicial</ion-label>
        <ion-datetime class="ionInput" disabled displayFormat="DD/MM/YYYY" [(ngModel)]="params.data.dt_ini" name="dt_ini"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label class="ionLabel">Hora Inicial</ion-label>
        <ion-datetime class="ionInput" disabled displayFormat="HH:mm" [(ngModel)]="params.data.hr_ini" name="hr_ini"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label class="ionLabel">Turno</ion-label>
        <ion-input class="ionInput" disabled type="text" [(ngModel)]="params.data.turno" name="turno"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="ionLabel">Turma</ion-label>
        <ion-input class="ionInput" disabled type="text" [(ngModel)]="params.data.turma" name="turma"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="ionLabel">Quantidade</ion-label>
        <ion-input class="ionInput" disabled type="text" [(ngModel)]="params.data.quantidade" name="quantidade"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="ionLabel">Resultado</ion-label>
        <ion-input class="ionInput" disabled type="text" [(ngModel)]="params.data.resultado" name="resultado"></ion-input>
      </ion-item>
      <br>
      <br>

      <ion-list *ngFor="let r of dbResource">
        <ion-list-header class="listHeader">
          Recurso
        </ion-list-header>
        <ion-item-divider>
          <ion-label class="ionLabel">Código</ion-label>
          <ion-input class="ionInput" disabled type="text" [(ngModel)]="r.codigo" name="recurso"></ion-input>
        </ion-item-divider>
        <ion-item-divider>
          <ion-label class="ionLabel">Descrição</ion-label>
          <ion-input class="ionInput" disabled type="text" [(ngModel)]="r.descricao" name="r_descricao"></ion-input>
        </ion-item-divider>
      </ion-list>

      <br>

      <ion-list *ngFor="let p of dbProduct">
        <ion-list-header class="listHeader">
          Produto
        </ion-list-header>
        <ion-item-divider>
          <ion-label class="ionLabel">Código</ion-label>
          <ion-input class="ionInput" disabled type="text" [(ngModel)]="p.codigo" name="produto"></ion-input>
        </ion-item-divider>
        <ion-item-divider>
          <ion-label stacked class="ionLabel">Descrição</ion-label>
          <ion-input class="ionInput" disabled type="text" [(ngModel)]="p.descricao" name="p_descricao"></ion-input>
        </ion-item-divider>
      </ion-list>

      <br>

      <ion-list *ngFor="let c of dbCost">
        <ion-list-header class="listHeader">
          Centro de Custo
        </ion-list-header>
        <ion-item-divider>
          <ion-label class="ionLabel">Código</ion-label>
          <ion-input class="ionInput" disabled type="text" [(ngModel)]="c.ccusto" name="custo"></ion-input>
        </ion-item-divider>
        <ion-item-divider>
          <ion-label class="ionLabel">Descrição</ion-label>
          <ion-input class="ionInput" disabled type="text" [(ngModel)]="c.descricao" name="c_descricao"></ion-input>
        </ion-item-divider>
      </ion-list>

      <br>

      <ion-list *ngFor="let m of dbreason">
        <ion-list-header class="listHeader">
          Motivo
        </ion-list-header>
        <ion-item-divider>
          <ion-label class="ionLabel">Código</ion-label>
          <ion-input class="ionInput" disabled type="text" [(ngModel)]="m.motivo" name="motivo"></ion-input>
        </ion-item-divider>
        <ion-item-divider>
          <ion-label class="ionLabel">Descrição</ion-label>
          <ion-input class="ionInput" disabled type="text" [(ngModel)]="m.descricao" name="m_descricao"></ion-input>
        </ion-item-divider>
      </ion-list>

      <br>

      <ion-list *ngFor="let o of dbEmployee">
        <ion-list-header class="listHeader">
          Operador
        </ion-list-header>
        <ion-item-divider>
          <ion-label class="ionLabel">Matricula</ion-label>
          <ion-input class="ionInput" disabled type="text" [(ngModel)]="o.matricula" name="matricula"></ion-input>
        </ion-item-divider>
        <ion-item-divider>
          <ion-label stacked class="ionLabel">Nome</ion-label>
          <ion-input class="ionInput" disabled type="text" [(ngModel)]="o.nome" name="nome"></ion-input>
        </ion-item-divider>
      </ion-list>

    </ion-list>
  </form>

</ion-content>