<ion-header>
  <ion-navbar>
    <ion-title class="ionTitle">Improdutivo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ionContent" padding>

  <form padding [formGroup]="formGroup">

    <ion-list>
      <!-- Data e hora inicial e final -->
      <ion-item class="ionItem">
        <ion-label class="ionLabel" stacked>
          Data Inicial
        </ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="dt_ini" formControlName="dt_ini"></ion-datetime>
      </ion-item>

      <ion-item class="ionItem">
        <ion-label class="ionLabel" stacked>
          Data Final
        </ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="dt_final" formControlName="dt_final"></ion-datetime>
      </ion-item>

      <ion-item class="ionItem">
        <ion-label class="ionLabel" stacked>
          Hora Inicial
        </ion-label>
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="hr_ini" formControlName="hr_ini"></ion-datetime>
      </ion-item>

      <ion-item class="ionItem">
        <ion-label class="ionLabel" stacked>
          Hora Final
        </ion-label>
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="hr_final" formControlName="hr_final"></ion-datetime>
      </ion-item>

      <ion-item class="ionItem">
        <ion-label stacked class="ionLabel">Centro de custo</ion-label>
      </ion-item>
      <ion-item>
        <select-searchable 
          title="Custo" 
          searchPlaceholder="Pesquisar" 
          [items]="dbCosts" 
          itemValueField="ccusto" 
          itemTextField="pesquisa"
          [itemTemplate]="CostItemTemplate" 
          [canSearch]="true" 
          [noItemsFoundText]="'Centro de custo não encontrado'"
          [canReset]="true" 
          [(ngModel)]="custo"
          formControlName="custo"
          (onChange)="CostChange($event)">
        </select-searchable>
      </ion-item>

      <ion-item class="ionItem">
        <ion-label stacked class="ionLabel">Motivo</ion-label>
      </ion-item>
      <ion-item>
          <select-searchable 
            title="Motivo" 
            searchPlaceholder="Pesquisar" 
            [items]="dbReasons"
            itemValueField="motivo" 
            itemTextField="pesquisa" 
            [itemTemplate]="ReasonItemTemplate" 
            [canSearch]="true" 
            [noItemsFoundText]="'Motivo não encontrado'"
            [canReset]="true" 
            [(ngModel)]="motivo"
            formControlName="motivo"
            (onChange)="ReasonChange($event)">
          </select-searchable>
      </ion-item>

      <ion-item class="ionItem">
        <ion-label stacked class="ionLabel">Recurso</ion-label>
      </ion-item>
      <ion-item>
          <select-searchable 
            title="Recurso" 
            searchPlaceholder="Pesquisar" 
            [items]="dbResources"
            itemValueField="codigo" 
            itemTextField="pesquisa" 
            [itemTemplate]="ResourceItemTemplate" 
            [canSearch]="true" 
            [noItemsFoundText]="'Recurso não encontrado'"
            [canReset]="true"
            [multiple]="true"
            [(ngModel)]="recurso"
            formControlName="recurso">
          </select-searchable>
      </ion-item>

    </ion-list>

  </form>

  <!-- Botão avançar -->
  <ion-fab bottom center>
    <button ion-fab (click)="Relatorio()" [disabled]="formGroup.invalid">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </ion-fab>

</ion-content>