<ion-header>
  <ion-navbar>
    <ion-title class="ionTitle">Improdutivo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ionContent" padding>
  <div class="ionContent relatorio" padding>
    <b>Data Inicial</b>: {{ params.data.calendario.dt_ini.split('-').reverse().join('/') }} <br>
    <b>Data Final</b>: {{ params.data.calendario.dt_final.split('-').reverse().join('/') || 'Sem data' }} <br>
    <b>Hora Inicial</b>: {{ params.data.calendario.hr_ini || 'Sem hora'}} <br>
    <b>Hora Final</b>: {{ params.data.calendario.hr_final || 'Sem hora'}} <br>
    <hr>
    <b>Centro de custo</b>: {{ params.data.ccusto.ccusto }} <br>
    <b>Descrição</b>: {{ params.data.ccusto.descricao }} <br>
    <hr>
    <b>Motivo</b>: {{ params.data.motivo.motivo }} <br>
    <b>Descrição</b>: {{ params.data.motivo.descricao }} <br>
    <hr>
    <div *ngFor="let recurso of params.data.recurso">
      <b>Recurso</b>: {{ recurso.codigo }} <br>
      <b>Descrição</b>: {{ recurso.descricao }} <br> <br>
    </div>
  </div>
  <button ion-button full round icon-end (click)="apontar()">
    Confirmar
    <ion-icon name="checkmark"></ion-icon>
  </button>
</ion-content>
