page-unproductive2 {
    .ionTitle {
        text-align: center;
    }
    .ionContent {
        background-color: #ffffff;
        button {
            margin-top: 20px;
            padding: 30px;
            font-size: 18px;
        }
    }
    .relatorio {
        border: 1px solid #000;
        font-size: 18px;
    }
}
