<ion-header>

  <ion-navbar>
    <ion-title class="ionTitle">Eficiência</ion-title>
    <ion-toolbar>
      <ion-title>{{Length}} apontamento(s) a enviar</ion-title>
    </ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content class="ionContent" padding>

  <ion-list padding>
    <ion-item-sliding *ngFor="let eficiencia of arrayEficiencias">

      <ion-card ion-item>
        <ion-card-header class="cardTitle">
          Eficiência Operacional
        </ion-card-header>
        <ion-card-content class="display">
          <br>
          <b>Data Incial:</b> {{eficiencia.dt_ini.split('-').reverse().join('/')}}
          <br>
          <b>Hora Inicial:</b> {{eficiencia.hr_ini}}
          <br>
          <b>Recurso:</b> {{eficiencia.recurso}}
          <br>
          <b>Turno:</b> {{eficiencia.turno}}
          <br>
          <b>Turma:</b> {{eficiencia.turma}}
          <br>
          <b>Quantidade:</b> {{eficiencia.quantidade}}
          <br>
          <b>Resultado:</b> {{eficiencia.resultado.toUpperCase()}}
          <br>
          <b>Custo:</b> {{eficiencia.custo}}
          <br>
          <b>Operador:</b> {{eficiencia.operador}}
        </ion-card-content>
      </ion-card>

      <!--Botão excluir, para exclusão de apontamento-->
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="delete(eficiencia.id)">
          <ion-icon name="trash"></ion-icon>
          <b>Excluir</b>
        </button>
      </ion-item-options>

      <ion-item-options side="right" (click)="ShowEfficiency(eficiencia)">
        <button ion-button>
          <ion-icon name="eye"></ion-icon>
          <b>Visualizar</b>
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom left>
    <button ion-fab (click)="Sincronizar()">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom right>
    <button ion-fab (click)="CustoRecursosPage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>