<ion-header>

  <ion-navbar>
    <ion-title class="ionTitle">Improdutivo</ion-title>
    <ion-toolbar>
      <ion-title>{{length}} improdutivo(s) a enviar</ion-title>
    </ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content class="ionContent" padding>

  <ion-list padding>
    <ion-item-sliding *ngFor="let impro of dbUnproductive">

      <ion-card ion-item>
        <ion-card-header class="cardTitle">
          Improdutivo
        </ion-card-header>
        <ion-card-content class="display">
          <br>
          <b>Data Incial:</b> {{impro.dt_ini.split('-').reverse().join('/')}}
          <br>
          <b>Data Final:</b> <span *ngIf="impro.dt_final">{{ impro.dt_final.split('-').reverse().join('/')}}</span>
          <br>
          <b>Hora Inicial:</b> {{impro.hr_ini}}
          <br>
          <b>Hora Final:</b> {{impro.hr_final}}
          <hr>
          <b>Centro de custo</b>: {{ impro.ccusto }} <br>
          <b>Descrição</b>: {{ impro.desccusto }} <br>
          <hr>
          <b>Motivo</b>: {{ impro.motivo }}<br>
          <b>Descrição</b>: {{ impro.descmotivo }}<br>
          <hr>
        </ion-card-content>
      </ion-card>

      <!--Botão excluir, para exclusão de apontamento-->
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="deleteImprodutivo(impro.hash)"> 
          <ion-icon name="trash"></ion-icon>
          <b>Excluir</b>
        </button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button (click)="updateCabecImpro(impro)">
          <ion-icon name="eye"></ion-icon>
          <b>Visualizar</b>
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>




  <ion-fab bottom left>
    <button ion-fab (click)="sincronizar()">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom right>
    <button ion-fab (click)="ImprodutivoPage1()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>