page-unproductive {
    .ionTitle {
        text-align: center;
    }
    .ionContent {
        background-color: #ffffff;
    }
    .cardTitle {
        background-color: #ccc;
        font-size: 22px;
        border-radius: 10px !important;
    }
    .display {
        font-size: 18px;
        
    }

    ion-item-sliding {
        border: 2px #ccc !important;
        border-radius: 20px !important;
        border-style: dotted !important;
        margin-bottom: 15px !important;
    }
}
