<ion-header>
  <ion-navbar>
    <ion-title class="ionTitle">Custo x Recursos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ionContent" padding>
  <form padding>
    <br>
    <ion-item>
      <select-searchable title="Custo" searchPlaceholder="Pesquisar" [(ngModel)]="cost" name="cost" [items]="costs" itemValueField="ccusto"
        itemTextField="pesquisa" [itemTemplate]="CostItemTemplate" (onChange)="CostChange($event)" [canSearch]="true" [canReset]="true"
        [noItemsFoundText]="'Centro de custo não encontrado'"></select-searchable>
    </ion-item>
    <br>
    <br>

    <!--
    <ion-searchbar *ngIf="isResources" placeholder="Código ou descrição do recurso" (ionInput)="GetitemsDbResources($event)"
      type="text"></ion-searchbar>

    <ion-list *ngIf="isResources">
      <ion-item *ngFor="let resource of resources">
        <button ion-item (click)="PointPage(resource)">
          <ion-card>
            <ion-card-header>
              <b>Código: </b>{{resource.codigo}}
            </ion-card-header>
            <ion-card-content>
              <b>Recurso: </b>{{resource.descricao}}
            </ion-card-content>
          </ion-card>
        </button>
      </ion-item>
    </ion-list>
  -->

  </form>
</ion-content>