<ion-header>

  <ion-navbar>
    <ion-title class="ionTitle">Menu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="ionContent" padding>
  <form padding>
    <ion-list>
      <ion-item>
        <button class="ionBtn" ion-button full round icon-end (click)="EficienciaPage()">
          Eficiência
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-item>
      <ion-item>
        <button class="ionBtn" ion-button full round icon-end (click)="ImprodutivoPage()">
          Improdutivo
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>