page-menu {
    .ionTitle {
        text-align: center;
    }
    .ionContent {
        background-color: #ffffff;
    }
    .ionBtn {
        padding: 35px !important;
        font-size: 22px !important;
    }
}
